<!DOCTYPE html>
<html>
  <head>
    <title>saludos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Biennenidos a Avances decomputacion</p>
    <p>atentamente</p>
     <p>Dayner</p>
  </body>
</html>
